@keyframes fade-out{
  0%{
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8) ;
  }
  100%{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) ;
  }
}

/** General */
body{
  overflow: hidden;
}

.first-group{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

#countdown{
 font-size: 5rem;
 background-color: rgb(218, 91, 91);
 width: 200px;
 height: 200px;
 line-height: 200px;
 text-align: center;
 border-radius: 50%;
 color: white;
}

#number-grid{
  gap: 50px;
}

#number-grid .number{
  font-weight: bold;
  font-size: 3.5rem;
  background-color: lightslategray;
  padding: 2rem;
}

/* FORM */
#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 1.2rem;
}
#score{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightcoral;
  border-radius: 20px;
  width: 900px;
  height: 500px;
  font-size: 2rem;
  font-weight: bold;
  animation: fade-out 0.4s linear;
  user-select: none;
  text-align: center;
  padding-top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#score button{
  padding: 50px;
}

.overflow{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}